.aboutUsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 10px;
}

@media screen and (max-width: 480px) {
    .aboutUsContainer {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .aboutUsContainer {
        display: flex;
        flex-direction: row;
        column-gap: 20px;
    }  
    /* .video{
        display: flex;
        justify-items: center;
        justify-content: center;
    }     */
}

@media screen and (min-width: 1025px) {
    .aboutUsContainer {
        display: flex;
        flex-direction: row;
        column-gap: 25px;
    } 
}

 